﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Index.aspx.cs" Inherits="Presentation.Index" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:Label ID="Label1" runat="server" Text="COMPANIA ARTURO CALLE "></asp:Label><br />
            <asp:Label ID="lblprice" runat="server" Text=" Digite el precio del producto "></asp:Label>
            <asp:TextBox ID="TBprice" runat="server"></asp:TextBox><br />
            <asp:Label ID="Label3" runat="server" Text=" Digite la cantidad de prendas "></asp:Label>
            <asp:TextBox ID="TBnumber" runat="server"></asp:TextBox><br />
            <asp:Button ID="btn_calcular" runat="server" Text="CALCULAR " OnClick="btn_calcular_Click" /><br />
            <asp:Label ID="Lbltotal_price" runat="server" Text="Precio final: "></asp:Label>
            <asp:Label ID="Lblmsj1" runat="server" Text=" "></asp:Label><br />
            <asp:Label ID="Lbldiscount" runat="server" Text=" "></asp:Label><br />
             <asp:Label ID="Lblmsj2" runat="server" Text="Su descuento es : "></asp:Label><br />
            
        </div>
    </form>
</body>
</html>
